In [3]:
import pandas as pd

tweets_old_1=pd.read_csv("/content/tweets_HealingStartsHere.csv")
tweets_old_1

    Unnamed: 0  ...                location
0            0  ...                     NaN
1            1  ...               Miami, FL
2            2  ...                   MIAMI
3            3  ...             Houston, TX
4            4  ...                     NaN
5            5  ...                     NaN
6            6  ...     West Palm Beach, FL
7            7  ...                     NaN
8            8  ...                     NaN
9            9  ...          Youngstown, OH
10          10  ...             Houston, TX
11          11  ...  3065 richmond pkwy 103
12          12  ...           Deerfield, IL
13          13  ...               Bronx, NY
14          14  ...           New York City

[15 rows x 5 columns]

In [4]:
tweets_old_2=pd.read_csv("/content/tweets_cancelcovid.csv")
tweets_old_2

    Unnamed: 0  ...                 location
0            0  ...           Washington, DC
1            1  ...  Columbus & Central Ohio
2            2  ...                Miami, FL
3            3  ...                    MIAMI
4            4  ...                Cape Town
5            5  ...              Pomfret, CT
6            6  ...          Northampton, MA
7            7  ...                     Ohio
8            8  ...           Las Vegas, USA
9            9  ...                      NaN
10          10  ...                      NaN
11          11  ...            United States
12          12  ...  Columbus & Central Ohio
13          13  ...                     Brum
14          14  ...                      NaN
15          15  ...          Albuquerque, NM
16          16  ...                      NaN
17          17  ...                      NaN
18          18  ...                      NaN
19          19  ...          Los Angeles, CA
20          20  ...              Houston, TX
21          21  ...                      NaN
22          22  ...                      NaN
23          23  ...                      NaN
24          24  ...                Cape Town
25          25  ...                      NaN
26          26  ...           columbus, ohio
27          27  ...          Los Angeles, CA
28          28  ...      West Palm Beach, FL
29          29  ...                      NaN
30          30  ...                      NaN
31          31  ...                      NaN
32          32  ...           Youngstown, OH
33          33  ...              Houston, TX
34          34  ...   3065 richmond pkwy 103
35          35  ...            Deerfield, IL
36          36  ...                     Ohio
37          37  ...                Bronx, NY
38          38  ...            New York City
39          39  ...             Portland, OR
40          40  ...        San Francisco, CA
41          41  ...          CSU Bakersfield
42          42  ...             Columbus, OH
43          43  ...                      NaN
44          44  ...  Columbus & Central Ohio
45          45  ...           silicon valley
46          46  ...                      NaN
47          47  ...             U.S. Citizen
48          48  ...       Central Valley, CA

[49 rows x 5 columns]

In [37]:
tweets_all_1 = pd.concat([tweets_old_1, tweets_old_2,tweets_old_3,tweets_old_4,tweets_old_5,tweets_old_6,tweets_old_7,
                          tweets_old_8,tweets_old_9,tweets_old_10,tweets_old_11,tweets_old_12,
                          tweets_old_13,tweets_old_14,tweets_old_15,tweets_old_16,tweets_old_17,
                          tweets_old_18,tweets_old_19,tweets_old_20,tweets_old_21,tweets_old_22,
                          tweets_old_23,tweets_old_24,tweets_old_25,tweets_old_26,tweets_old_27], axis=0)
tweets_all_1

tweets_all_1.to_csv("covid19_mergedata",index=False)

In [7]:
tweets_old_3=pd.read_csv("/content/tweets_covid19 (1).csv")
tweets_old_3

   Unnamed: 0  ...                    location
0           0  ...  Lyraü¶Å 13 January-INFJ-Aüõ∏ü™êüëΩ

[1 rows x 5 columns]

In [9]:
tweets_old_4=pd.read_csv("/content/tweets_covid19 (10).csv")
tweets_old_4

    Unnamed: 0  ...                  location
0            0  ...              Belgium üáßüá™üá™üá∫
1            1  ...   England, United Kingdom
2            2  ...                       NaN
3            3  ...  The New Rich = Debt Free
4            4  ...  The New Rich = Debt Free
..         ...  ...                       ...
69          69  ...                   England
70          70  ...                        UK
71          71  ...                       NaN
72          72  ...         Glasgow, Scotland
73          73  ...  Scotland, United Kingdom

[74 rows x 5 columns]

In [11]:
tweets_old_5=pd.read_csv("/content/tweets_covid19 (2).csv")
tweets_old_5

      Unnamed: 0  ...                        location
0              0  ...           Garden City Belmopan
1              1  ...           Jammu, India (BHARAT)
2              2  ...  S Sarasota, FL Owned by 2 poos
3              3  ...                             NaN
4              4  ...                     Chicago, IL
...          ...  ...                             ...
4085        4085  ...                      Las Vegas
4086        4086  ...                             NaN
4087        4087  ...                  Wisconsin, USA
4088        4088  ...                             NaN
4089        4089  ...                           india

[4090 rows x 5 columns]

In [12]:
tweets_old_6=pd.read_csv("/content/tweets_covid19 (3).csv")
tweets_old_6

      Unnamed: 0  ...                        location
0              0  ...           Garden City Belmopan
1              1  ...           Jammu, India (BHARAT)
2              2  ...  S Sarasota, FL Owned by 2 poos
3              3  ...                             NaN
4              4  ...                     Chicago, IL
...          ...  ...                             ...
4085        4085  ...                      Las Vegas
4086        4086  ...                             NaN
4087        4087  ...                  Wisconsin, USA
4088        4088  ...                             NaN
4089        4089  ...                           india

[4090 rows x 5 columns]

In [13]:
tweets_old_7=pd.read_csv("/content/tweets_covid19 (4).csv")
tweets_old_7

    Unnamed: 0  ...                         location
0            0  ...                              NaN
1            1  ...                Dhaka, Bangladesh
2            2  ...           ‚û• noze syndrome | PB
3            3  ...                              NaN
4            4  ...  ÔΩ°ÔæüÔæüÔΩ•ÔΩ°ÔΩ•ÔæüÔæüÔΩ°\nÔæü„ÄÇ rr pb wkm\n„ÄÄÔæüÔΩ•ÔΩ°ÔΩ•Ôæü
..         ...  ...                              ...
75          75  ...                  Shillong, India
76          76  ...                     Jalna, India
77          77  ...                            ‡¥ï‡µá‡¥∞‡¥≥‡¥Ç
78          78  ...                            India
79          79  ...                              NaN

[80 rows x 5 columns]

In [14]:
tweets_old_8=pd.read_csv("/content/tweets_covid19 (5) (1).csv")
tweets_old_8

    Unnamed: 0  ...                        location
0            0  ...                             NaN
1            1  ...              Salisbury, England
2            2  ...                            Ohio
3            3  ...                           India
4            4  ...  On your Smartphone & Smart TV
5            5  ...                 Goi√¢nia, Brasil
6            6  ...                    Johannesburg
7            7  ...                 London, England
8            8  ...               The Outer Planes.
9            9  ...           Dayton  #Texas, 77535
10          10  ...                  Birmingham, UK
11          11  ...                           ‡¥ï‡µá‡¥∞‡¥≥‡¥Ç
12          12  ...                  Birmingham, UK
13          13  ...                      Birmingham

[14 rows x 5 columns]

In [15]:
tweets_old_9=pd.read_csv("/content/tweets_covid19 (5).csv")
tweets_old_9

     Unnamed: 0  ...                        location
0             0  ...                         Jamaica
1             1  ...                             NaN
2             2  ...                   Templeton, CA
3             3  ...                        Limerick
4             4  ...                   Charlotte, NC
..          ...  ...                             ...
159         159  ...  On a beautiful little island.
160         160  ...                    Woerden, NL,
161         161  ...                  Clare, Ireland
162         162  ...                         Ireland
163         163  ...                    MelrosePlace

[164 rows x 5 columns]

In [16]:
tweets_old_10=pd.read_csv("/content/tweets_covid19 (6) (1).csv")
tweets_old_10

    Unnamed: 0  ...                     location
0            0  ...            Oklahoma City, OK
1            1  ...               Scottsdale, AZ
2            2  ...                   The Cloud
3            3  ...                   Goa, India
4            4  ...       Princeton Junction, NJ
..         ...  ...                          ...
64          64  ...                      Jamaica
65          65  ...  Madrid, Comunidad de Madrid
66          66  ...                          NaN
67          67  ...                      Ireland
68          68  ...                      Melburn

[69 rows x 5 columns]

In [17]:
tweets_old_11=pd.read_csv("/content/tweets_covid19 (6).csv")
tweets_old_11

       Unnamed: 0  ...                         location
0               0  ...                  Flyover Country
1               1  ...         Washington, DC / MD / VA
2               2  ...                   TransFloridan
3               3  ...               Yorkshire, England
4               4  ...                    Middlesbrough
...           ...  ...                              ...
54117       54117  ...                              NaN
54118       54118  ...                         Delaware
54119       54119  ...  South Lakes, north-west England
54120       54120  ...                    Milton Keynes
54121       54121  ...                              NaN

[54122 rows x 5 columns]

In [18]:
tweets_old_12=pd.read_csv("/content/tweets_covid19 (7) (1).csv")
tweets_old_12

    Unnamed: 0  ...                     location
0            0  ...               Dublin Ireland
1            1  ...            United Kingdom üá¨üáß
2            2  ...             Walnut Creek, CA
3            3  ...            Limerick, Ireland
4            4  ...     Dublin, via North Kerry
5            5  ...     Brabant Wallon, Belgique
6            6  ...  70 Kent St, Deakin ACT 2600
7            7  ...                          NaN
8            8  ...     Brabant Wallon, Belgique
9            9  ...     Brabant Wallon, Belgique
10          10  ...                Paris, France

[11 rows x 5 columns]

In [19]:
tweets_old_13=pd.read_csv("/content/tweets_covid19 (7).csv")
tweets_old_13

      Unnamed: 0  ...       location
0              0  ...            NaN
1              1  ...   New York, NY
2              2  ...     California
3              3  ...         Denver
4              4  ...         Denver
...          ...  ...            ...
1084        1084  ...          ‡¥ï‡µá‡¥∞‡¥≥‡¥Ç
1085        1085  ...  Arlington, VA
1086        1086  ...            NaN
1087        1087  ...    Connecticut
1088        1088  ...            NaN

[1089 rows x 5 columns]

In [21]:
tweets_old_14=pd.read_csv("/content/tweets_covid19 (8).csv")
tweets_old_14

      Unnamed: 0  ...                 location
0              0  ...                      NaN
1              1  ...                      NaN
2              2  ...                 Winnipeg
3              3  ...      Calverton, Maryland
4              4  ...                      NaN
...          ...  ...                      ...
1790        1790  ...           Tennessee, USA
1791        1791  ...           Tennessee, USA
1792        1792  ...  East Village, Manhattan
1793        1793  ...   Armidale NSW Australia
1794        1794  ...          Los Angeles, CA

[1795 rows x 5 columns]

In [22]:
tweets_old_15=pd.read_csv("/content/tweets_covid19 (9).csv")
tweets_old_15

    Unnamed: 0  ...                       location
0            0  ...              Hudson Valley, NY
1            1  ...                            NaN
2            2  ...                            NaN
3            3  ...       British Columbia, Canada
4            4  ...                            NaN
5            5  ...                         Canada
6            6  ...                            NaN
7            7  ...              Hudson Valley, NY
8            8  ...  Vancouver, Edmonton, Winnipeg
9            9  ...                      kaori#aki
10          10  ...                          NKDMN
11          11  ...             Davao, Philippines
12          12  ...                             19
13          13  ...                            NaN
14          14  ...                 Ottawa, Canada
15          15  ...                            NaN
16          16  ...                        Iceland
17          17  ...   w/ zimmer,powell, and menken
18          18  ...                   pshssmc 2022
19          19  ...                             üê∑üí§
20          20  ...            Manila, Philippines
21          21  ...                          India
22          22  ...                            NaN
23          23  ...                            NaN
24          24  ...                       he / him
25          25  ...  Vancouver, Edmonton, Winnipeg
26          26  ...  k08 ‚Ä¢ pshssmc ‚Äò21 dlsu id 121
27          27  ...                            NaN
28          28  ...                            NaN
29          29  ...                           1006
30          30  ...          k07, smc'21, bscn '25
31          31  ...                              üåá
32          32  ...                             üáµüá≠
33          33  ...       halcyon smc ‚Äò21 ‚Ä¢ upd ce
34          34  ...          halcyon '21 ‚Ä¢ upd che
35          35  ...                        halcyon
36          36  ...                 pshssmc x admu
37          37  ...                          Davao
38          38  ...                      minecraft
39          39  ...       Íí∞ k02 Íí± 19 ! halcyon ‚Äò21
40          40  ...                            NaN
41          41  ...              evc 21 | upd mate
42          42  ...                           1006
43          43  ...             Davao, Philippines
44          44  ...                            NaN
45          45  ...                            NaN
46          46  ...                            NaN
47          47  ...                            NaN
48          48  ...                Ontario, Canada
49          49  ...     For more information visit
50          50  ...              Hudson Valley, NY
51          51  ...               Southern Ontario

[52 rows x 5 columns]

In [23]:
tweets_old_16=pd.read_csv("/content/tweets_covid19 (chinese).csv")
tweets_old_16

      Unnamed: 0  ...                     location
0              0  ...                       Canada
1              1  ...                          NaN
2              2  ...           Somewhere off I-95
3              3  ...                United States
4              4  ...               United Kingdom
...          ...  ...                          ...
1077        1077  ...  USA | Europe | UK | Canada
1078        1078  ...                  Los Angeles
1079        1079  ...                          NaN
1080        1080  ...                Key Largo, FL
1081        1081  ...                          NaN

[1082 rows x 5 columns]

In [24]:
tweets_old_17=pd.read_csv("/content/tweets_covid19 (stayhomestaysafe).csv")
tweets_old_17

     Unnamed: 0  ...           location
0             0  ...     Nairobi, Kenya
1             1  ...                NaN
2             2  ...   Southall, London
3             3  ...                NaN
4             4  ...                NaN
..          ...  ...                ...
690         690  ...  Vijayawada, India
691         691  ...  Vijayawada, India
692         692  ...  Vijayawada, India
693         693  ...  Vijayawada, India
694         694  ...  Vijayawada, India

[695 rows x 5 columns]

In [25]:
tweets_old_18=pd.read_csv("/content/tweets_covid19(GetVaccinated).csv")
tweets_old_18

       Unnamed: 0  ...                  location
0               0  ...                       NaN
1               1  ...                       NaN
2               2  ...             New York, USA
3               3  ...             United States
4               4  ...  Shenandoah Valley VA USA
...           ...  ...                       ...
32614       32614  ...      Amersham, South East
32615       32615  ...             United States
32616       32616  ...             San Francisco
32617       32617  ...             Mumbai, India
32618       32618  ...       South West, England

[32619 rows x 5 columns]

In [26]:
tweets_old_19=pd.read_csv("/content/tweets_covid19(KeepYourDistance).csv")
tweets_old_19

     Unnamed: 0  ...              location
0             0  ...               America
1             1  ...                   NaN
2             2  ...           Bedford, NS
3             3  ...                   NaN
4             4  ...                   NaN
..          ...  ...                   ...
110         110  ...  Rotterdam, Nederland
111         111  ...         Hell on Earth
112         112  ...           Essex UK üá™üá∫
113         113  ...           Augusta, GA
114         114  ...                London

[115 rows x 5 columns]

In [27]:
tweets_old_20=pd.read_csv("/content/tweets_covid19(N95).csv")
tweets_old_20

     Unnamed: 0  ...                       location
0             0  ...                            NaN
1             1  ...               Windsor, Ontario
2             2  ...                            NaN
3             3  ...               Windsor, Ontario
4             4  ...                   New York, NY
..          ...  ...                            ...
613         613  ...                    Hampton, NH
614         614  ...  Concord, MA and Lakeville, MN
615         615  ...                            üá®üá¶
616         616  ...            Northern Ontario üá®üá¶
617         617  ...                     Everywhere

[618 rows x 5 columns]

In [28]:
tweets_old_21=pd.read_csv("/content/tweets_covid19(Social distancing).csv")
tweets_old_21

      Unnamed: 0  ...        location
0              0  ...             NaN
1              1  ...   United States
2              2  ...             NaN
3              3  ...             NaN
4              4  ...      Lima, Peru
...          ...  ...             ...
2343        2343  ...          Lahore
2344        2344  ...  Hanoi, Vietnam
2345        2345  ...        Internet
2346        2346  ...       Worldwide
2347        2347  ...       Worldwide

[2348 rows x 5 columns]

In [29]:
tweets_old_22=pd.read_csv("/content/tweets_covid19(lockdown).csv")
tweets_old_22

       Unnamed: 0  ...                        location
0               0  ...        Current lives in chennai
1               1  ...                         Boston
2               2  ...                             NaN
3               3  ...  Sgt University budhera gurgaon
4               4  ...                   Rewari, India
...           ...  ...                             ...
42214       42214  ...                              üá∫üá∏
42215       42215  ...                       Bucharest
42216       42216  ...                             NaN
42217       42217  ...                   Texas USA üá∫üá∏
42218       42218  ...    *link*‚¨ÜÔ∏èsee me do my musicüé∂üé∏

[42219 rows x 5 columns]

In [30]:
tweets_old_23=pd.read_csv("/content/tweets_covid19_ #LockdownNow .csv")
tweets_old_23

    Unnamed: 0  ...         location
0            0  ...              NaN
1            1  ...      Deutschland
2            2  ...   StocksLand üí∂üíµüí∑
3            3  ...  Gatwick airport
4            4  ...   visakhapatnam
..         ...  ...              ...
58          58  ...     Orbiting œæ_œø
59          59  ...   Down to earth
60          60  ...     North London
61          61  ...              NaN
62          62  ...              NaN

[63 rows x 5 columns]

In [31]:
tweets_old_24=pd.read_csv("/content/tweets_covid19_ #Quarantine .csv")
tweets_old_24

      Unnamed: 0  ...         location
0              0  ...     street demon
1              1  ...              NaN
2              2  ...  Ontario, Canada
3              3  ...          ÎåÄÌïúÎØºÍµ≠ ÏÑúÏö∏
4              4  ...              NaN
...          ...  ...              ...
6795        6795  ...              NaN
6796        6796  ...              NaN
6797        6797  ...              NaN
6798        6798  ...    Colorado, USA
6799        6799  ...        Australia

[6800 rows x 5 columns]

In [32]:
tweets_old_25=pd.read_csv("/content/tweets_covid19_#MyPandemicSurvivalPlan.csv")
tweets_old_25

    Unnamed: 0  ...                      location
0            0  ...                 Las Vegas, NV
1            1  ...                     Bangalore
2            2  ...            Helmond, Nederland
3            3  ...                        Cairns
4            4  ...                Tennessee, USA
5            5  ...    Tatoonie. OK, Country NSW.
6            6  ...                        Cairns
7            7  ...              Multan, Pakistan
8            8  ...                           NaN
9            9  ...                  Burat, Samar
10          10  ...               Belgaum, India.
11          11  ...                           NaN
12          12  ...               ÂπªÊÉ≥ÈÉ∑ÂåóÊù±ÈÉ®(Êó•Êú¨Âßî‰ªªÁµ±Ê≤ªÈ†ò)
13          13  ...                           NaN
14          14  ...                Kenya Airforce
15          15  ...                           USA
16          16  ...  Islamic Khanate of Pakistan
17          17  ...                           NaN
18          18  ...                           Èï∑Â¥éÁúå
19          19  ...                           NaN
20          20  ...                           NaN
21          21  ...              Laurel, MD 20707

[22 rows x 5 columns]

In [33]:
tweets_old_26=pd.read_csv("/content/tweets_covid19_#RemoteWorking.csv")
tweets_old_26

      Unnamed: 0  ...                                           location
0              0  ...                                   United States US
1              1  ...                               Citizen of the World
2              2  ...                                    Guelph, Ontario
3              3  ...                                          Canada CA
4              4  ...                                      Sunnyvale, CA
...          ...  ...                                                ...
2147        2147  ...                      Madurai-Veeram Vilancha Mannu
2148        2148  ...                                                NaN
2149        2149  ...                                              India
2150        2150  ...                                              Kenya
2151        2151  ...  Bangaluru | Chennai | Mumbai | New Delhi | Ahm...

[2152 rows x 5 columns]

In [34]:
tweets_old_27=pd.read_csv("/content/tweets_covid19_Online.csv")
tweets_old_27

     Unnamed: 0  ...         location
0             0  ...              NaN
1             1  ...              NaN
2             2  ...              NaN
3             3  ...              NaN
4             4  ...  Gainesville, FL
...         ...  ...              ...
4173       4171  ...              NaN
4174       4172  ...              NaN
4175       4173  ...         Helsinki
4176       4174  ...  Rwanda or Kenya
4177       4175  ...              NaN

[4178 rows x 5 columns]